<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Through My Pain • The follow-through investigation about your pain</title>
    <link rel="stylesheet" href="../static/css/uikit.min.css" />
    <link rel="stylesheet" href="../static/css/uikit-rtl.min.css" />
    <link rel="stylesheet" href="../static/css/throughmypain.css"/>
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
</head>
<body>
    <!--head bar-->
    <div class="header">
    </div>

    <!--navigation bar-->
    <nav class="uk-navbar-container uk-margin-bottom" uk-navbar>
            <div class="uk-navbar-left">
                <a class = "uk-navbar-item uk-logo" href="#"><span id = "logo-text-1">Through my&nbsp</span><span id = "logo-text-2">Pain</span></a>
                <ul class="uk-navbar-nav">
                        <li><a href="#">Introduction</a></li>
                        <li><a href="#">Investigation</a></li>
                        <li><a href="#">Analysis</a></li>
                </ul>
            </div>
    </nav>


    <!--header-->
    <header>
        <div>

        </div>
    </header>

    <div>
        <!--containt-->
    </div>

    <!--footer bar-->
    <section id = "footer-bar" class="uk-light">
        <ul>
            <li><a href="" uk-icon="icon: facebook; ratio:1.5"></a></li>
            <li><a href="" uk-icon="icon: github; ratio:1.5"></a></li>
            <li><a href="" uk-icon="icon: linkedin; ratio:1.5"></a></li>
        </ul>
            
    </section>

    <!--footer-->
    <hr>
    <footer class="uk-text-middle uk-padding-small uk-width-1-1">
            <div style="margin: 18px" class="uk-text-center">2018 Ximing Yang, University of Bath, Bath, UK</div>
    </footer>
</body>
</html>