{% extends '__base__.html' %}

{% block content %}
<section>
    <div class="uk-child-width-1-2@s" uk-grid>
    <div class="uk-width-auto@m">
        <ul class="uk-tab-left uk-text-bold" uk-tab="connect:#info; animation: uk-animation-fade">
            <li class="uk-active"><a href="#">Introduction</a></li>
            <li><a href="#">Body diagram</a></li>
            <li><a href="#">Data gathering</a></li>
            <li><a href="#">Privacy policy</a></li>
        </ul>
    </div>
    <div class="uk-width-expand@m">
        <ul id="info" class="uk-switcher">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>Body diagram</li>
            <li>Data gathering</li>
            <li>Privacy policy</li>
        </ul>
    </div>
    </div>
</section>
{% endblock %}