{% extends '__base__.html' %}

{% block beforehead %}

<script>

    function inivm() {
        
        var vm = new Vue({   
                            delimiters: ["[[", "]]"],
                            el: '#vm',
                            data: {
                                painid:'#'+'0a9087e8',
                                post:{
                                    object_1:"Individual pain",
                                    objest_2:"",
                                    pain_id:"13123213",
                                    d_variables:[
                                        "Severity",
                                        "Pain count"
                                    ],
                                    i_variables:["Time-period"],
                                    date_in:"08/16/2018",
                                    date_out:"08/29/2018",
                                },
                                barcharts: 0,
                                piecharts: 0,
                                chart_selection:"",
                                bar_chart_data:[3, 2, 4, 1, 4, 6,3,6,9,8,2,5,5,6],
                                pie_chart_data:[]
                            },
                            mounted:function(){
                                $(".datepicker").datepicker();
                                var h = 230;
                                var w = 300;
                                var dataset = this.bar_chart_data;
                                var barpadding=1;

                                var svg = d3.select(".barchart")
                                .append("svg")
                                .attr("height",h)
                                .attr("width",w);

                                svg.selectAll("rect")
                                .data(dataset)
                                .enter()
                                .append("g")
                                .append("rect")
                                    .attr("x",function(d,i){
                                        return i*(w/dataset.length);
                                    })
                                    .attr("y",function(d){return h-d/10*h;})
                                    .attr("width",w/dataset.length-barpadding)
                                    .attr("height",function(d){return d/10*h;})
                                    .attr("fill",function(d){return "hsl(0, 100%, "+(10-d)*10+"%)"});

                                svg.selectAll("text")
                                .data(dataset)
                                .enter()
                                .append("g")
                                .append("text")
                                    .text(function(d){return d;})
                                    .attr("x",function(d,i){return i*(w/dataset.length)+10;})
                                    .attr("y",function(d){return h-d/10*h+14;})
                                    .attr("fill", "white")
                                    .attr("font-family", "sans-serif")
                                    .attr("font-size", "11px")
                                    .attr("text-anchor", "middle")
                                    .attr("x", function(d, i) {
                                    return i * (w / dataset.length) + (w / dataset.length - 1) / 2;
                                    });
                            },
                            methods:{
                                save:function(){
                                },
                                download:function(){ 
                                }
                            }
                        });
    }

    $(function() {
        
            inivm();
           
    });
</script>
{% endblock %}

{% block content %}
<div id="vm" class="uk-margin uk-width-3-5 uk-align-center">
    <div id="charts" class="uk-margin">
        <section class="uk-section uk-section-muted uk-margin uk-box-shadow-small">
            <div class="uk-width-1-2@l uk-float-left">
                <div class="barchart uk-margin-left"></div>
            </div>
           
            <div class="uk-width-1-2@m uk-float-right">
                <label>Object:</label>
                <div class="radio-group uk-margin-remove-left uk-float-right uk-margin-large-right" >
                    <input id="All" v-model="post.object_1" value="All pain" class="uk-radio" type="radio" name="All">
                    <label for="All" style="padding: 3px 30px">All pain</label>
                    <input id="Individual" v-model="post.object_1" value="Individual pain" class="uk-radio" type="radio" name="Individual">
                    <label for="Individual" style="padding: 3px 10px">Individual pain</label>
                </div>
                
                <div class="uk-margin">
                    <label>Pain ID:</label><input v-bind:value="painid" class="uk-input uk-form-small uk-form-width-small uk-float-right uk-margin-large-right">
                </div>

                <div class="uk-margin">
                    <label>Dependent variable:</label>
                    <select class="uk-select uk-form-small uk-form-width-small uk-float-right uk-margin-large-right">
                        <option v-for="variable of post.d_variables" v-bind:key="variable" v-text="variable"></option>
                    </select>
                </div>
                
                <div class="uk-margin">
                    <label>Independent variable:</label>
                    <select class="uk-select uk-form-small uk-form-width-small uk-float-right uk-margin-large-right">
                        <option v-for="variable of post.i_variables" v-bind:key="variable" v-text="variable"></option>
                    </select>
                </div>
                
                <div class="uk-margin">
                    <input v-model="post.date_in" class="datepicker uk-input uk-form-small uk-form-width-small"><span :uk-icon="'calendar'"></span>
                    &nbsp; to &nbsp;
                    <input v-model="post.date_out" class="datepicker uk-input uk-form-small uk-form-width-small"><span :uk-icon="'calendar'"></span>
                </div>
                
            </div>
        </section>
    </div>
    <div class="uk-margin">
        <select class="uk-select uk-form-small uk-form-width-medium" v-model="chart_selection">
            <option value=""  disabled>-- Select the chart type --</option>
            <option value="barchart">bar chart</option>
            <option value="piechart">pie chart</option>
        </select>
        <button type="button" class="uk-button uk-button-small uk-button-primary">Add chart</button>
        <button class="uk-button uk-button-small uk-button-default uk-margin-small-left">Save</button>
        <button class="uk-button uk-button-small uk-button-default uk-float-right">Download report</button>
    </div>
</div>

{% endblock %}