{% extends '__base__.html' %}

{% block beforehead %}
<script>
        $(function() {
               var vm = new Vue({   
                   delimiters: ["[[", "]]"],
                   el: '#vm',
                   data: {
                       username: '',
                       passwd: '',
                   },
                   methods: {
                       sub: function() {
                            $.post("/api/login", JSON.stringify(this.$data)).done(function(data2){
                                if(data2 != 202){
                                    alert(JSON.stringify(data2));
                                }
                                var obj = document.getElementById('alink');
                                obj.href="/ulist";
                                obj.click();
                           });
                           
                       }
                   }
               });
           });
           
   </script>
{% endblock %}


{% block content %}
<section uk-grid class="uk-child-width-1-3@m">
        <a id="alink" href="#" style="display: none;"></a> 
    <div></div>
    <form  id="vm" class="uk-margin">
        <div><dt class="uk-text-small">Log in to continue</dt></div>
        <div class="uk-margin">
        <div class="uk-inline">
            <span :uk-icon="'user'" class="uk-form-icon"></span>
            <input v-model="username" class="uk-input uk-form-small uk-width-large" type="username" placeholder="Username" name="username" required>
        </div>
        </div>
        <div class="uk-margin">
        <div class="uk-inline">
            <span :uk-icon="'lock'" class="uk-form-icon"></span>
            <input v-model="passwd" class="uk-input uk-form-small uk-width-large" type="password"  placeholder="Password" name="password" required>
        </div>
        </div>
        <div class="uk-text-center">
            <button type="button" @click="sub" class="uk-button uk-button-primary">Log in</button>
        </div>
            
        <div class="uk-text-center">
            <span class="uk-text-small">Don't have an account yet? >></span>
            <a href="/register"><span class="uk-text-small">Sign up</span></a>
        </div>
    </form>
    <div></div>
</section>
{% endblock %}