{% extends '__base__.html' %}


{% block beforehead %}
<script>

    function unique5(array){
  var r = [];
  for(var i = 0, l = array.length; i < l; i++) {
    for(var j = i + 1; j < l; j++)
      if (array[i] === array[j]) j = ++i;
    r.push(array[i]);
  }
  return r;
}

    function inivm(rid, new_pain=false) {
        var vm = new Vue({
                   delimiters: ["[[", "]]"],
                   el: '#vm',
                   data: {
                        date: "",
                        brief: "",
                        exist_pains: [],
                        selected_ex_pain: "",
                        pain_count: 0,
                        pains_list:[],
                        notif: null,
                        notif_list: "You have no pain in the list currently",
                        record_id: rid.slice(0,8),
                        flag_add_ex: false
                   },

                   created:function(){
                        var date = new Date();
                        var month = new Array();
                        month[0] = "January";
                        month[1] = "February";
                        month[2] = "March";
                        month[3] = "April";
                        month[4] = "May";
                        month[5] = "June";
                        month[6] = "July";
                        month[7] = "August";
                        month[8] = "September";
                        month[9] = "October";
                        month[10] = "November";
                        month[11] = "December";
                        this.$data.date=date.getDate()+"-"+month[date.getMonth()]+"-"+date.getFullYear();
                        if(this.$data.pains_list.length === 0){
                                this.$data.notif_list = "You have no pain in the list currently";
                        }
                        else{
                            this.$data.notif_list = null;
                        }    
                        this.$data.pain_count = this.$data.pains_list.length;
                   },

                   updated: function(){
                            if(this.$data.pains_list.length === 0){
                                this.$data.notif_list = "You have no pain in the list currently";
                            }
                            else{
                                this.$data.notif_list = null;
                            }       
                   },

                   filters:{
                    id_filter: function(value){
                        value = value.slice(0,8);
                        return value;
                    }
                   },

                   methods: {
                        find_ex_pain: function(){
                        $.get("/api/plist", JSON.stringify(this.$data)).done(function(get_pains){
                            if(get_pains == '[]'){
                                vm.$data.notif = "You have no pain recorded currently";
                                $("#add_ep").attr("disabled",true);
                            }
                            else{
                                vm.$data.notif = null;
                                vm.$data.exist_pains = JSON.parse(get_pains);
                                vm.$data.flag_add_ex = true;
                                $("#add_ep").attr("disabled",true);
                            }
                           });
                       },

                       delete_pain: function (pain) {
                            var index = this.$data.pains_list.indexOf(pain);
                            this.$data.exist_pains.unshift(pain);
                            this.$data.pains_list.splice(index,1);
                            this.$data.pain_count--;
                       },

                       add_ex_pain: function () {
                            this.$data.pains_list.push(this.selected_ex_pain);
                            var length = this.$data.pains_list.length;
                            this.$data.pains_list = unique5(this.$data.pains_list);
                            if(this.$data.pains_list.length == length){
                                this.$data.exist_pains.splice(this.$data.exist_pains.indexOf(this.selected_ex_pain),1);
                                this.$data.pain_count++;
                            }
                       },

                        sub:function () {
                            this.$data.pains_list = JSON.stringify(this.$data.pains_list);
                            $.post("/api/add_new_record",JSON.stringify(this.$data)).done(function(data){
                                window.location.href = "/ulist";
                            });
                       },

                       cancel:function(){
                            if (confirm("\nYou will lose information of this page.\n\nDo you want to continue?\n")){
                                window.location.href = "/ulist";
                            }else{
                                return 
                            }
                       },

                       add_new_pain: function () {   
                            this.$data.pains_list = JSON.stringify(this.$data.pains_list);
                            $.post("/api/add_con_record",JSON.stringify(this.$data)).done(function(data){
                                window.location.href = "/new_pain";
                            });
                       }
                   }
               });
            return vm;
    }

        $(function() {
               $.get("/api/get_rid", JSON.stringify(this.$data)).done(function(rid){
                            var rid = JSON.parse(rid);
                            inivm(rid);  
                    });
           });
   </script>

{% endblock %}

{% block content %}

<div class="uk-padding uk-padding-remove-top">
    <form id="vm" class="uk-width-5-6 uk-align-center">
        <div>
            <div class="uk-inline-block">
                <span>Record ID:</span>
                <span v-cloak>#[[record_id]]</span>
            </div>
            <div class="uk-inline-block uk-float-right">
                <span>Date:</span>
                <span>[[date]]</span>
            </div>   
        </div>

        <hr>
        <div class="uk-padding uk-padding-remove-top">
            <div class="uk-margin">
                <span>Brief statement:</span>
                <input v-model="brief" class="uk-input uk-form-small uk-width-large" placeholder="Briefly summarize your record content here" required>
            </div>
            <div class="uk-margin">
                <span>Pain count:</span>
                <span v-cloak>[[pain_count]]</span>
            </div>
    
            <div class="uk-margin">
                <button v-on:click="add_new_pain" type="button" class="uk-button-small uk-button-primary" uk-tooltip="title: Click me, if you have a new pain need to be recorded; pos: left;">Add new pain</button>
                <button @click.once="find_ex_pain" id="add_ep" type="button" class="uk-button-small uk-button-default" uk-tooltip="title: Click me, if you want to update an pain recorded in last few days; pos: right">Add recorded pain</button>
            </div>
            [[notif]]
            <div class="uk-margin" v-if="flag_add_ex">
                <select v-model="selected_ex_pain" class="uk-select uk-form-small uk-width-5-6">
                        <option value="" disabled>-- Select pains recorded before --</option>
                        <option v-bind:value="pain" v-for="pain of exist_pains">[[pain.create_at]], [[pain.description]], [[pain.depth]], [[ pain.frequency]], #[[pain.Pain_ID | id_filter]]</option>
                </select>
                <button type="button" v-on:click="add_ex_pain" class="uk-button-small uk-button-primary uk-float-right" uk-tooltip="title: Add to the table below; pos: right">Add</button>
            </div>

            <div class="uk-overflow-auto">
                <table class="uk-table uk-table-small uk-table-middle uk-table-justify uk-table-striped">
                    <thead>
                        <tr>
                            <th>Create at</th>
                            <th>Character</th>
                            <th>Region count</th>
                            <th>Severity</th>
                            <th>Depth</th>
                            <th>Frequency</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="pain in pains_list">
                            <td v-text="pain.create_at"></td>
                            <td v-text="pain.pain_character"></td>
                            <td v-text="pain.region_count"></td>
                            <td v-text="pain.pain_severity"></td>
                            <td v-text="pain.depth"></td>
                            <td v-text="pain.frequency"></td>
                            <td><button type="button" class="uk-button uk-button-default uk-button-small" uk-tooltip="title: Click me, if you want to delete a pain of this line; pos: left" @click="delete_pain(pain)">delete</button></td>
                        </tr>
                    </tbody>
                </table>
                [[notif_list]]
            </div>
            <div class="uk-margin">
                <button type="button" @click="sub" class="uk-button-primary uk-button-small uk-float-right">Done</button>
                <button type="button" @click="cancel" class="uk-button-default uk-button-small uk-float-right uk-margin-right">Cancel</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}