/* footer-bar */

/* #footer-bar{
    height: 30px;
    background-color: #222;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer-bar ul{
    display: inline;
}

#footer-bar li{
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

footer{
    font-family: 'Times New Roman', Times, serif;
    color: #f8f8f8;
    background-color:rgb(50, 21, 100); 
    height: 90px;  
    box-shadow: 0px -5px 10px 5px rgba(0,0,0,.08);
} */
@import url("http://fonts.googleapis.com/css?family=Roboto");
.nav-body{
    background: url(../image/body.svg) no-repeat 25px top;
}
.nav-body:hover{
    background: url(../image/body_2.svg) no-repeat 30px top;
    color: #9E005D;
    text-decoration: none;
}

.nav-analysis{
    background: url(../image/analysis.svg) no-repeat 25px top;
}

.nav-analysis:hover{
    background: url(../image/analysis_2.svg) no-repeat 30px top;
    color: #9E005D;
    text-decoration: none;
}

.nav-user{
    background: url(../image/user.svg) no-repeat 25px top;
}

.nav-user:hover{
    background: url(../image/user_2.svg) no-repeat 30px top;
    color: #9E005D;
    text-decoration: none;
}

.nav-info{
    background: url(../image/info.svg) no-repeat 25px top;
}

.nav-info:hover{
    background: url(../image/info_2.svg) no-repeat 30px top;
    color: #9E005D;
    text-decoration: none;
}

.content{
    background-color: #f1f1f1;
}


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 50px 90px;
    text-decoration: none;
    font-size: 20px;
    color: #222;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #9E005D;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

/* body {
    background: #ffffff;
    font-family: roboto;
  } */
  
  input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
    color: rgb(31, 31, 31);
  }

  label {
    color: #1f1f1f;
    display: inline-block;
    cursor: pointer;
    font-weight: 8;
    font-size: 14px;
    padding: 3px 5px;
    font-family: roboto;
  }
  
  input[type=radio]:checked + label {
    color: #fdfdfd;
    background: #f0506e;
  }
  
  /* label + input[type=radio] + label {
    border-left: solid 3px #675f6b;
  } */
  
  .radio-group {
    border: solid 1px #cacaca;
    display: inline-block;
    margin-left: 10px;
    width: auto;
    border-radius: 6px;
    overflow: hidden;
  }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

[v-cloak] {
    display: none;
  }